@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    /* font-size: 10px; */
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98B4D4;
}
p{
    color: black;
    font-size: 3.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}
.button {
    font-size: 18px;
    height: 48px;
    padding: 0 25px;
    margin-top: 10px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background: radial-gradient( 100% 100% at 100% 0%,rgba(135,137,209,1) 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    will-change: box-shadow,transform;
    animation: display 1s ease;
    animation-delay: 2s;
}
.button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
.button:active{
    transform: translateY(2px);
}
/* Header Section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-top: 12px;
}
.brand h1 span {
    color: #9899D4;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding: 0 10px;
}
#header .nav-list ul a {
	font-size: 1.8rem;
	font-weight: 500;
	padding: 1px;
    height: auto;
	width: fit-content;
    background-color: transparent;
} 
#header .nav-list ul li {
    display: inline-block;
}
#header #buttonOUT {
    display: none;
}
#header .buttonHead {
    display: inline-block;
    font-size: 18px;
    height: 48px;
    padding: 0 25px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background: radial-gradient( 100% 100% at 100% 0%,rgba(135,137,209,1) 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    will-change: box-shadow,transform;
    animation: display 1s ease;
    animation-delay: 2s;
}
#header .buttonHead:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
#header .buttonHead:active{
    transform: translateY(2px);
}
/* End Header Section */


/* Intro Section */
#intro .container{
    background-image: -moz-radial-gradient(circle, rgba(135,137,209,1) 0%, rgba(12,76,230,1) 100%) !important; 
    /* z-index: 1; */
    overflow: hidden;
}
#intro h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent; 
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#intro h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* background-color: #9899D4; */
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background:
    linear-gradient( to right, rgba(135,137,209,1) 25%, rgba(12,76,230,1) 100%);
    background-size: 100% 5px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
#intro #buttonIN {
    display: inline-block;
}
#intro #buttonCont {
    display: none;
}

#intro #logResult {
    display: block;
    margin-top: 15px;
    font-size: 1.4rem;
    height: fit-content;
    width: fit-content;
    color: white; 
    text-decoration: underline;
}
/* End Intro Section*/

/* Rules Section */
#rules {
    text-align: center;
}
#rules .rulesText {
    display: inline-block;
    /* border: 5px solid #9899D4; */
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 1.8rem;
    text-align: left; 
    max-width: 50%;
}
#rules li {
    list-style-type: none;
    padding-top: 20px;
}
/* End Rules Section */

/* Configuration Section */
#configuration {
    width: 25%;
    float: left;
    text-align: center;
    display: flexbox;
    flex-direction: column;
}

#configuration form {
    margin-top: -85%;
    min-width: 25%;
    font-size: 1.4rem;
    border: 3px solid #9899D4;
    border-radius: 50px;
    padding: 10px 15px 15px 15px;
}

#configuration h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    margin-top: 15px;
    text-align: center;
}

#configuration label {
    font-size: 1rem;
}

#configuration p {
    font-size: 15px; 
    text-align: center; 
    font-style: italic; 
    text-decoration: underline;
    margin-top: -15px;
    margin-bottom: -10px;
}
#configuration #popRules {
    /* display: flexbox;
    flex-direction: column; */
    border: 3px solid black;
    flex: 0;
}
/* End Configuration Section */

/* Game Section*/
#game .container {
    float:left;
    min-height: 100vh;
    width: 50%;
    display: flex;
    align-items: baseline;
    margin-top: 15%;
    justify-content: center;
    background-color: #ffffff;
}

#game .showGame {
    display: block;
    border: 3px solid black;
    width: 1250px;
    max-height: 100%;
}
/* End Game Section*/

/* Game Stats */
#gameStats .container {
    float:left;
    min-height: 100vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
/* End Game Stats*/







/* Keyframes */
@keyframes text_reveal_box{
    50%{
        width: 50%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}